* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "robotoBOLD";
    src: url(./../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "robotoREG";
    src: url(./../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    background-color: #CCCCCC;
    font-family: "robotoREG";
    color: #212529;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------- header ----------------------------- */

header {
    margin: 0 10%;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 41.78px;
    margin-bottom: 125.05px;
}

.logo {
    height: 22px;
}

.menu {
    height: 27px;
}

/* ----------------------- main ------------------------------------ */

main {
    margin: 0 10%;
}

article {
    width: 55%;
}

article h1 {
    font-family: "robotoBOLD";
    text-transform: uppercase;
    line-height: 2.42rem;
    font-size: 2.2rem;
    margin-bottom: 56.72px;
}

article p {
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin-bottom: 113px;
}

section {
    display: flex;
    gap: 20px;
    text-align: center;
}

section div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 26.5%;
    flex: 1;
}

section div a {
    display: flex;
    position: relative;
}

section div img {
    width: 100%;
}

section img:hover {
    filter: brightness(40%);
}

span {
    display: none;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    padding-left: 26%;
}

.one {
    padding-top: 30%;
}

.two {
    padding-top: 100%;
}

.three {
    padding-top: 175%;
}

.four {
    padding-top: 37%;
}

.five {
    padding-top: 117%;
}

.six {
    padding-top: 198%;
}

.seven {
    padding-top: 17%;
}

.eight {
    padding-top: 72%;
}

.nine {
    padding-top: 152%;
}

span:hover {
    /* display: block; */
}

/* ----------------------------- footer --------------------------------- */

footer {
    background-color: #AFAFAF;
    padding: 112px 10%;
}

footer li {
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

footer div {
    display: flex;
    gap: 10%;
}

footer div ul {
    width: 271px;
}

.formular {
    text-align: center;
    display: block;
    margin-top: 67.8px;
}

form {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    font-size: 1.138rem;
    line-height: 1.8rem;
}

h2 {
    font-size: 2.2rem;
    line-height: 2.42rem;
    text-transform: uppercase;
    font-family: "robotoBOLD";
}

form input {
    height: 46.78px;
    margin-bottom: 20px;
}

form textarea {
    margin-bottom: 20px;
}