
@media screen and (max-width: 768px){
    
    section {
        flex-direction: column;
        align-items: center;
    }

    section div {
        width: 100%; 
    }

    section div a img {
        width: 100%;
    }

    footer div:nth-of-type(1) {
        flex-wrap: wrap;
    }

    footer div ul{
        margin-bottom: 1rem;
    }
}